<p> The museum offers an internship program for Italian and international students
  and recent graduates who study art, art history or related disciplines who are
  interested in gaining first-hand experience of how a museum is run and familiarity
  with an important collection of modern art.
The program is a learning experience for all who take part, immersing interns in
the cultural life of the city of Venice, allowing them to gain practical experience
of museum operations and familiarity with an important collection of modern art.
Activities include managing the galleries during opening hours to the public,
assisting visitors, staffing the ticket office, cloakroom and other visitor facilities,
supporting the museum office staff in various departments and participation in
the educational activities of the museum, including presentations to the public,
guided tours and workshops with children. The program includes educational activities
 such as seminars, conferences, educational trips and guided tours for interns.</p>
